.GipFiltro {
	background: #fff;
	padding: 40px;
	margin-bottom: 40px;
}
.formControlFiltra {
	display: flex;
	width: 100%;
}
.DivSelectFiltra {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 50px 50px;
	align-items: center;
	margin-right: 40px;
}
.DivSelectFiltra label {
	margin-right: 20px;
}
.DivSelectFiltra select {
	height: 40px;
	border-color: #707070;
}
.DivBtnFiltra {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.CargandoProducts {
	height: 100vh;
	font-size: x-large;
}
.LinkCardProducts {
	text-decoration: none;
}
.ContCategoria {
	width: 280px;
	background: #fff;
}
.CategoriaStatico {
	position: sticky;
	top: 20px;
}
.ContCategoria h1 {
	font-size: 14px;
	margin: 20px;
}
.ContCategoria ul {
	list-style: none;
}
.ContCategoria li {
	display: block;
	padding: 9px 10px;
}
.LiCategori {
	font-weight: bold;
}
.LiSubCategori {
	font-weight: normal;
}
.Categoria-links {
	color: #191919;
	text-decoration: none;
}
.Categoria-links:hover {
	border-bottom: 2px solid #25a6d9;
}
.check {
	visibility: hidden;
}
.check-Active {
	visibility: visible;
}
.CategoriaLink-Active {
	border-bottom: 2px solid #25a6d9;
}
