.container-footer {
  width: 100%;
}

.container-footer-item1 {
  background-color: #191919;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.item1-footer {
  width: 20%;
}
.item1-footer img {
  width: 100%;
}

.item1-footer h5 {
  font-size: 16px;
}

.container-footer-item2 {
  background-color: #3d3d3d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item1-footer-li {
  text-decoration: none;
  color: inherit;
}

.container-footer-item1 .item1-footer li {
  list-style: none;
  /* text-decoration: none;
	color: #fff; */
  padding: 10px 10px 10px 0;
}

.container-footer-item1 .item1-footer ul {
  padding: 0;
}

.item1-footer .item1-footer-contacto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item1-footer .item1-footer-contacto img {
  width: 17px;
  height: 16px;
}

.item1-footer .item1-footer-contacto p {
  margin-left: 10px;
}
