.container-carrito {
	min-width: 95% !important;
}

.grid-container-carrito {
	padding: 50px;
}

.grid-item-carrito-title {
	width: 100%;
	height: 5%;
}

.grid-item-carrito-table {
	width: 100%;
	height: 60%;
}

.grid-item-totalCarrito-table,
.grid-item-btn-table {
	width: 100%;
}

.grid-item-totalCarrito-table {
	height: 30%;
}

.grid-item-btn-table {
	height: 5%;
}

.grid-item-carrito-table .grid-tableContainer-carrito {
	height: 100%;
}

.btn-delete {
	color: #953030;
	font-size: 20px;
}

.btn-delete:hover {
	cursor: pointer;
}

.row-item-producto-img img {
	width: 180px;
	height: 150px;
}

.item-table-size {
	font-size: 16px !important;
}

.row-items-producto-car {
	width: 100%;
}

.row-items-producto-car .row-item-producto-btn-delete {
	width: 5%;
}

.row-items-producto-car .row-item-producto-img,
.row-items-producto-car .row-item-producto-precio,
.row-items-producto-car .row-item-producto-total {
	width: 10%;
}

.row-items-producto-car .row-item-producto-btns {
	width: 15%;
}
