.container {
	margin: 0;
	padding: 0;
	height: 91%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
}

.container-content {
	width: 1274px;
	height: 659px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-img {
	width: 50%;
	height: 100%;
	background-color: #25a6d9;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.container-img img {
	width: 100%;
	padding: 20% 5%;
}
.container-login {
	width: 50%;
	height: 100%;
	background-color: #fff;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

form {
	width: 100%;
	height: 100%;
}

form h1 {
	height: 20%;
	text-align: center;
	padding-top: 50px;
}

.separador {
	border: none;
	width: 25%;
	height: 4px;
	margin: auto;
	margin-top: 0.6em;
	background-color: #25a6d9;
}

.container-login-items {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.container-login-email {
	margin-top: 20%;
}

.container-login-pass {
	margin-top: 10%;
}

.container-login-email,
.container-login-pass {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.container-login-items .iconCar {
	color: #707070;
	margin-right: 20px;
	margin-top: 16px;
	font-size: 20px;
}

.container-login-email .email,
.container-login-pass .pass {
	width: 50%;
}
/* .container-login-items .email,
.pass {
	padding: 10px;
} */

.container-login-submit {
	width: 35%;
	margin-top: 20%;
}

.container-login-submit input[type='submit'] {
	background-color: #25a6d9;
	padding: 10px;
	color: #fff;
	border: none;
	border-radius: 1em;
	width: 100%;
	font-size: 20px;
}

.container-login-submit input[type='submit']:hover {
	cursor: pointer;
}

.container-login-submit input[type='submit']:focus {
	outline: none;
}
